# PANDAS

Pandas are python library and can be installerd with pip (pip install packages from Pypi(python package index))
we can check the versions with "print(pandas._version_"
the codebase of pandas are in the 'github'

In [8]:
import pandas as pd

SERIES:
It is a single dimensional array in pandas which can change a database with this 
by pd.Series(container)
here 0,1,2 are the indexes , in pandas we can give indexes are can be created
and also we can convert the dictonaries as series with key : value pair , becauses the keys are unique

In [12]:
import pandas as pd
a=['a','b','c']
#s = pd.Series(a)
s= pd.Series(a,['x','y','z'])
print(s)

x    a
y    b
z    c
dtype: object

In [13]:
d= {'a':'x','b':'y','c':'z'}
s= pd.Series(d)
print(s)

a    x
b    y
c    z
dtype: object

Dataframe:
dataframes are multi dimensional array or a table with rows and columns
here also the indexs are taken by the system or you have to mention it as of series

In [24]:
a={ 'days': [1,2,3,4,5,6,7,8,9,10],
    'Calaries':[100,150,200,350,560,None,350,None,100,250]}
df = pd.DataFrame(a) # here DataFram not dataframe Dand F must be captial
print(df)

   days  Calaries
0     1     100.0
1     2     150.0
2     3     200.0
3     4     350.0
4     5     560.0
5     6       NaN
6     7     350.0
7     8       NaN
8     9     100.0
9    10     250.0

In [25]:
# to get particular row
print(df.loc[0])

days          1.0
Calaries    100.0
Name: 0, dtype: float64

In [26]:
print(df.loc[[0,1]])

   days  Calaries
0     1     100.0
1     2     150.0

Now the main part comes 
Converting the CSV,JSON AND excel files as python dictanaries with pandas to do the operation
syntax are will be for every file
pd.read_csv("PATH")
pd.read_json("PATH")
pd.read_excel("PATH")  ( one of important is for excel we need to install "openpyxl" also along with pandas

In [21]:
d = pd.read_csv("iris.csv")
print(d)# to print entire dataset "df.to_string()"

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [27]:
# some of the analysing functions
d.head(10)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [28]:
d.tail(5)

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [29]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [30]:
d.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# CLEANING DATASETS

In [31]:
# 1. Dealing with empty cells
# we check is their is null are not first
d.isnull()# checks entire dataframe

       5.1    3.5    1.4    0.2  Iris-setosa
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [34]:
d.isnull().any()

5.1            False
3.5            False
1.4            False
0.2            False
Iris-setosa    False
dtype: bool

In [36]:
d.isnull().sum() # it gives total null values in each column

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [38]:
# 1. removing them
#2. replacing them 
# 3. Replacing them with mean(),median(),mode()

new_d = d.dropna() # regularly this function retuens a new dataset if we not want it we use "inplace=true"
print(new_d)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [40]:
d.dropna(inplace=True)
print(d)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
 d.fillna( pd.NA, inplace = True)
print(d)

In [48]:
a = d['5.1'].mean() # same for medain and mode also for this the column need to be order in ascending order
d.fillna(a, inplace = True)

2. WRONG FORMAT
  1. removing them or
  2. Relacing them with correct format
syntax:
 d[column_name] = d.inbulitfunction ( d.[coulumn_name], neede condition)
for removing that wrong format column
d.dropna(subset =['column_name'], inplace =true)

3. WRONG DATA
    1. removing or replacing them with loc function

d.loc[index,'column_name'] = value 
for large dataset 

for i in d:
if i in d.loc[i,'column_name'] condition:
     d.loc[i,'column_name'] = value

4. DUPLICATES
   first we need to check the duplicate

In [55]:
d.duplicated().sum()

np.int64(0)

In [56]:
d['5.1'].duplicated() # particular column

0      False
1      False
2      False
3      False
4      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: 5.1, Length: 146, dtype: bool

In [53]:
d.drop_duplicates(inplace = True)