# TUPLE
#### Immutable, unchanagable and allows duplicates because it is indexed

In [5]:
t = (1,'data',30.54,'tuple')
print(t)
print(type(t))

(1, 'data', 30.54, 'tuple')
<class 'tuple'>

In [18]:
print(t[0])
print(t[3])
print(t[0:4])
print(t[-1])
print(t[-4:-1])

1
tuple
(1, 'data', 30.54, 'tuple')
tuple
(1, 'data', 30.54)

In [19]:
t[0]='change'

TypeError: 'tuple' object does not support item assignment

In [28]:
# if we want to change the tuple elements we need to convert to list
# then after changing same the list methods append,insert and extend can be done
temp= list(t)
print(type(temp))
temp[1]='change'
t=tuple(temp)
print(type(t))
print(t)

<class 'list'>
<class 'tuple'>
(1, 'change', 30.54, 'tuple')

In [29]:
# to remove we can follow the same process
temp= list(t)
print(type(temp))
temp.pop(0)
t=tuple(temp)
print(type(t))
print(t)

<class 'list'>
<class 'tuple'>
('change', 30.54, 'tuple')

In [33]:
t2=(1,1,2,4,5,6,1,2,3,'change','string')
t2.index('string')

10

In [34]:
t2.count(1)

3

# SETS
#### immutable, don not allow the duplicates ,unchangeable
#### Set items do not have a definit order, set items can appear in a different order every time and cannot use them you referred by index or key.
#### we cannot change the item of set after creation of it nas once set is created, we cannot change them but we can add new items and remove Items

In [38]:
s={1,'data',2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4, 'data'}
<class 'set'>

In [41]:
# if we want to access the elements in the set we cannot do it by index but we can loop through them

for i in s:
    if i == 'data':
        print(i)

data

In [65]:
# adding elements to the sets can be done by two methods
# with add() and update()
sets = {'apple','kiwi','orange'}
sets.add('banana')
print(sets)

{'banana', 'apple', 'orange', 'kiwi'}

In [66]:
# if we want copy elements from another sets it can be done by update()
# this can be used to join lists, tuples or dictonaries to the set

l=[1,2,5,6,7,8,'list']
t=(34,56,75,'tuple')
s={1,'data',2,3,4}
sets.update(s)
sets.update(l)
sets.update(t)
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 34, 75, 'data', 'list', 'tuple', 'banana', 'apple', 56, 'orange', 'kiwi'}

Removing elements from sets can be done by
#remove() and discard()
#the differenece between them is the remove() through an error when an element is not their in the set where as the discard() will simply executes makes the program to run softly without throughing an error
* so more also like pop(), clear() and del

In [69]:
print(s)

{1, 2, 3, 4, 'data'}

In [70]:
s.remove(1)

In [71]:
s.remove(1)

KeyError: 1

In [72]:
s.discard(1)

In [73]:
s.discard('data')
print(s)

{2, 3, 4}

In [74]:
a= s.pop()
print(a)

2

In [75]:
s.clear()
print(s)

set()

In [76]:
del s
print(s)

NameError: name 's' is not defined

some more methods 
* to add two sets or any other containers we use union() and update()
* and their are two more 
intersection() -> it returns a new set that contains only common elements between two sets
intersection_update() - it keep only common elements from two sets
symmetric_difference() -> it returns new set with the elements which are not present in two sets
symmetric_difference_update() - keeps the elements which are not present in two sets

In [77]:
s1={ 1,2, 3, 4}
s2 ={ 1, 2,5,6,7,8}
s1.intersection_update(s2)
print(s1)

{1, 2}

In [81]:
# where we dont want to change the original sets 
s1={ 1,2, 3, 4}
s2 ={ 1, 2,5,6,7,8}
s3= s1.intersection(s2)
print(s3)
print(s1)

{1, 2}
{1, 2, 3, 4}

In [82]:
s1.symmetric_difference_update(s2)
print(s1)

{3, 4, 5, 6, 7, 8}

In [84]:
s1={ 1,2, 3, 4}
s2 ={ 1, 2,5,6,7,8}
s3= s1.symmetric_difference(s2)
print(s3)
print(s1)
print(s2)

{3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}
{1, 2, 5, 6, 7, 8}

# DICTONARIES

Which stores the data in key:value pairs 
it is ordered , changable and does not allow the duplicates because it stored in the key value , we should have uniques to have

In [86]:
d ={ 'brand': 'ford', 'model':'Focus' , 'year':2002}
print(d)

{'brand': 'ford', 'model': 'Focus', 'year': 2002}

In [87]:
# dict cannot have same keys valuse, it will take last one to store
d ={ 'brand': 'ford', 'model':'Focus' , 'year':2002, 'year':2005}
print(d)

{'brand': 'ford', 'model': 'Focus', 'year': 2005}

In [90]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [91]:
d.values()

dict_values(['ford', 'Focus', 2005])

In [93]:
d.items() # it returns a tuple with key and value inside a list like list[tuple(key,value)]

dict_items([('brand', 'ford'), ('model', 'Focus'), ('year', 2005)])

In [94]:
# to change values in the dictionary
d['model']= 'mustang'
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 2005}

In [95]:
d['year']= 2020
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [102]:
data = {
    "student1": {
        "name": "Alice",
        "marks": [85, 92, 78],      # list inside dictionary
        "address": ("NY", 10001)    # tuple inside dictionary
    },
   "student2": {
        "name": "Bob",
        "marks": [90, 88, 95],
        "address": ("LA", 90001)
    }
}

In [103]:
print(data["student1"]["name"])
print(data["student1"]["marks"])
print(data["student1"]["address"])

Alice
[85, 92, 78]
('NY', 10001)

In [104]:
# removing the items from dictonary 
d ={ 'brand': 'ford', 'model':'Focus' , 'year':2002}
d.pop('brand')
print(d)

{'model': 'Focus', 'year': 2002}

In [105]:
a=d.popitem()
print(a)

('year', 2002)

In [106]:
d.clear()
print(d)

{}

In [107]:
del d
print(d)

NameError: name 'd' is not defined

# LIST AND DICTIONARY COMPREHENSION

syntax: 
list_name = [expression for item in iterable if condition]

squares = []
for x in range(5):
    squares.append(x*x)

print(squares)

In [110]:
squares = [x*x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [111]:
square_dict = {}
for x in range(5):
    square_dict[x] = x*x

print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [112]:
square_dict = {x: x*x for x in range(5)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Shallow copy and Deep copy

Shallow copy -> You get a new key, but it still opens the same rooms.
Deep copy -> You get a new key and it opens new separate rooms (completely independent).

In [119]:
import copy
l=[1,2,3,4]
l2= copy.deepcopy(l)
l2[2]= 24
print(l2)
print(l)

[1, 2, 24, 4]
[1, 2, 3, 4]

one of important is this shallow and deep copy behaves differently depending on type of the container it 
for list it behaves the same 
it works in the nested list and dictionaries

In [120]:
import copy

a = [1, 2, [3, 4]]
b = copy.copy(a)   # shallow copy

b[2][0] = 99   # change inside nested list

print("a:", a)
print("b:", b)

a: [1, 2, [99, 4]]
b: [1, 2, [99, 4]]

In [121]:
import copy

a = [1, 2, [3, 4]]
b = copy.deepcopy(a)   # deep copy

b[2][0] = 99   # change inside nested list

print("a:", a)
print("b:", b)

a: [1, 2, [3, 4]]
b: [1, 2, [99, 4]]

# FUNCTIONS

when we dont want to repeat the process/code every time, we use the functions

In [123]:
def add(a,b):
    return(a+b)
add(22,500)

522

In [130]:
def table(n):
    for i in range(1,11):
        print(i*n,end=" ")
table(12)

12 24 36 48 60 72 84 96 108 120

the main difference between the return and print in the python is
the print willnot allow us to change the result like after the function 
where as the return will alow us to change it , by assigning it to the variable

In [132]:
def add(a,b):
    print(a+b)
result = add(22,24)
print(result+5)

46

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [133]:
def add(a,b):
    return(a+b)
result = add(22,24)
print(result+5)

51